<h1><%= @word.word %></h1>

<form action='/words/<%= @word.id %>' method='post'>
  <input name="_method" type="hidden" value="patch">

  <label for='word'>Edit the Word</label><br>
  <input id='word' name='word' value='' type='text'><br>

  <button type='submit'>Update Word</button>
</form>
<form action='/words/<%= @word.id %>' method='post'>
  <input name="_method" type="hidden" value="delete">

  <button type='submit'>Delete Word</button><br>
</form> 

<h4> Current Definitions </h4>

<% if @word.definitions %>
  <ul>
    <% @word.definitions.each do |definition| %>
      <li><a href='/words/<%= @word.id %>/definitions/<%= definition.id %>'><%= definition.definition %> </a></li>
    <% end %>
  </ul>
<% else %>
      <p> There are currently no definitions. </p>
<% end %>

<h3> Add a definition: </h3>

<form action='/words/<%= @word.id %>' method='post'>
      <div class='form-group'>
        <label for='definition'> Definition: </label>
        <input id='definition' name='definition' class='form-control' type='text'>
      </div>
      <button type='submit'>Submit Definition</button>
</form>

<a href= '/words'>Back to Main Page</a>