<h1><%= @word.word %></h1>

<form action='/words/<%= @word.id %>' method='post'>
  <input name="_method" type="hidden" value="patch">
  <label for='word'>Edit the Word</label><br>
  <input id='word' name='word' value='' required type='text'><br>
  <button type='submit'>Update Word</button>
</form>

<form action='/words/<%= @word.id %>' method='post'>
  <input name="_method" type="hidden" value="delete">
  <button type='submit'>Delete Word</button><br>
</form> 

<h3>Current Definitions:</h3>

<% if @word.definitions.any? %>
  <ul>
    <% @word.definitions.each do |definition| %>
      <li><a href='/words/<%= @word.id %>/definitions/<%= definition.id %>'><%= definition.definition %> </a></li>
    <% end %>
  </ul>

<% else %>
  <p> There are currently no definitions. </p>

<% end %><br>

<h4> Add a definition: </h4>

<form action='/words/<%= @word.id %>' method='post'>
      <div class='form-group'>
        <label for='definition'> Definition: </label>
        <input id='definition' name='definition' class='form-control' required type='text'>
      </div>
      <button type='submit'>Submit Definition</button>
</form><br>

<a href= '/words'>Back to Main Page</a>